@tailwind base;
@tailwind components;
@tailwind utilities;
.scrollable{
  overflow-y: auto;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
  background-color: white;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #EBEBEB;
  width: 8px;
  border-radius: 4px 0px 0px 4px;
}

.scrollable::-webkit-scrollbar-button {
  height: 0;
  display: none;
}

/* For Firefox */
.scrollable {
  scrollbar-width: 8px;
  scrollbar-color: #EBEBEB white;
}
